* {
    padding: 0;
    margin: 0;
}

:root {
    --main-font: 'Open Sans', sans-serif;
    --main-font-color: #070707;
    --icon-text-color: #828282;
}

body {
    font-family: var(--main-font);
    color: var(--main-font-color);
}

img {
    display: block;
}

.container {
    width: 100%;
    max-width: 943px;
    margin: 0 auto;
    /* margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto; */
}

.sub-title {
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
}

.text {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

section:nth-child(2n) {
    background-color: #F6F6F6;
}

/* Global style End */

.header__menu-item {
    list-style: none;
}

.header__menu {
    padding: 29px 0;
    margin-bottom: 33px;
    border-bottom: 1px solid #828282;
}

.header__menu-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.header__menu-title {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    color: #828282;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: all 0.5s;
}

.header__menu-title:hover {
    color: var(--main-font-color);
    transform: scale(1.2);
}

.header__title {
    font-weight: 700;
    font-size: 47px;
    line-height: 64px;
    margin-bottom: 38px;
}

.header__img {
    width: 943px;
    height: 387px;
    background-image: url(../img/header-bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 100px;
    transition: all 0.5s;
    cursor: pointer;
}

.header__img:hover {
    background-size: 120%;
}

/* Section about me */
.about-me {
    padding: 100px 0;
}

.about-me__container {
    max-width: 480px;
}

.about-me__title {
    margin-bottom: 28px;
}

.about-me__text {
    margin-bottom: 48px;
}

.about-me__text:last-child {
    margin-bottom: 0;
}

/* Section about me End */
/* Section skills */
.skills {
    padding: 100px 0 83px;
}

.skills__title {
    margin-bottom: 23px;
}

.skills__text {
    margin-bottom: 78px;
}

.skills__sub-title {
    color: var(--icon-text-color);
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.skills__item {
    width: 166px;
}

.skills__icon {
    margin: 0 auto 22px;
}

.skills .is-active path {
    fill: var(--main-font-color);
}

.skills__bar {
    margin: 0 auto;
}

.skills__sub-title {
    margin-bottom: 59px;
}

.skills__bar-item {
    margin: 0 4px;
    display: inline-block;
}



/* Section skills End*/