/*font-family: 'Montserrat', sans-serif;*/
.portfolio {
    margin: 102px 88px;
    font-family: 'Montserrat', sans-serif
}
.portfolio-head {
    max-width: 400px;
    margin-bottom: 100px;
}
.head-info__role {
font-weight: bold;
font-size: 14px;
line-height: 24px
}
.head-info__name {
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
}
.head-info__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px; 
}
.experience-info-list__item-position-color {
    color: orange;
}
.experience-info-list__item-date {
    color: #A8A8A8;
    font-size: 12px;
    line-height: 15px;
}
.experience-info-list__item-position {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}
.experience-info-list__item-skills {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.projects-info-list__item-content-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.inline {
    flex: 1;
    border-style: none;
    border-bottom: 1px dashed;
    margin: 0;
}
.portfolio-body__info-experience-info-list .experience-info-list-item .experience-info-list__item-position {
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 12px;
}
.experience-info-list__item-skills .experience-info-list__item{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.experience-info-list-item {
    padding: 0;
    list-style-type: none;
    margin-bottom: 15px;
}
.experience-info-list__text{    
    list-style-type: initial;
    margin: 0;
    padding-left: 18px;
}
.experience-info-list__item-date {
    margin-bottom: 10px;
}
.portfolio-body-education-info{
    font-weight: 700;
    line-height: 20px;
    color: orange;
    margin-bottom: 12px;
}
.portfolio-body-education-info__position{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 12px;
}
.portfolio-body-education-info__list {
    padding: 0;
    list-style-type: none;
    margin-bottom: 15px;
}