html{
background-image: url(../img/maxresdefault.jpeg);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.profile-photo{
    float: right;
    margin-top: -43px;
}
